In [35]:
import os
import numpy as np
import pandas as pd

In [36]:
pwd

'C:\\Users\\ebene\\DSC478_Code_files\\Final Project'

In [37]:
csv_folder = os.getcwd()
print(csv_folder)

C:\Users\ebene\DSC478_Code_files\Final Project

In [38]:
# Get a list of all CSV files in the current directory
csv_files = [file for file in os.listdir(csv_folder) if file.endswith(".csv")]

# Merge CSV files
df_list = [pd.read_csv(file) for file in csv_files]  # Read each CSV
merged_df = pd.concat(df_list, ignore_index=True)  # Merge into one DataFrame

# Save to a new CSV file
output_file = "Final_food_data_merged.csv"
merged_df.to_csv(output_file, index=False)

print(f"Successfully merged {len(csv_files)} CSV files into {output_file}")

Successfully merged 6 CSV files into Final_food_data_merged.csv

In [39]:
# Read the merged data
food_data = pd.read_csv("Final_food_data_merged.csv")

In [40]:
food_data.shape

(7185, 37)

In [41]:
food_data.head(10)

,Unnamed: 0.1,Unnamed: 0,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,0,0,cream cheese,51,5.0,2.9,1.300,0.200,0.8,0.500,...,0.008,14.100,0.082,0.027,1.300,0.091,15.5,19.100,0.039,7.070
1,1,1,neufchatel cheese,215,19.4,10.9,4.900,0.800,3.1,2.700,...,99.500,0.034,0.100,8.500,0.088,117.300,129.2,0.054,0.700,130.100
2,2,2,requeijao cremoso light catupiry,49,3.6,2.3,0.900,0.000,0.9,3.400,...,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,5.400
3,3,3,ricotta cheese,30,2.0,1.3,0.500,0.002,1.5,0.091,...,0.097,41.200,0.097,0.096,4.000,0.024,30.8,43.800,0.035,5.196
4,4,4,cream cheese low fat,30,2.3,1.4,0.600,0.042,1.2,0.900,...,22.200,0.072,0.008,1.200,0.098,22.800,37.1,0.034,0.053,27.007
5,5,5,cream cheese fat free,19,0.2,0.1,0.091,0.075,1.4,1.000,...,63.200,0.039,0.053,4.000,0.028,94.100,50.0,0.013,0.300,67.679
6,6,6,gruyere cheese,116,9.1,5.3,2.800,0.500,0.1,0.100,...,283.100,0.033,0.094,10.100,0.002,169.400,22.7,0.079,1.100,300.694
7,7,7,cheddar cheese,113,9.3,5.3,2.600,0.300,0.9,0.100,...,198.800,0.099,0.077,7.600,0.063,127.400,21.3,0.009,1.000,215.530
8,8,8,parmesan cheese,71,4.5,2.7,1.400,0.100,0.6,0.046,...,213.100,0.051,0.100,7.900,0.073,124.900,16.6,0.045,0.500,224.777
9,9,9,romano cheese,19,1.3,0.9,0.400,0.035,0.2,0.088,...,53.200,0.046,0.030,2.100,0.002,38.000,4.3,0.087,0.100,56.380

In [42]:
food_data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'food', 'Caloric Value', 'Fat',
       'Saturated Fats', 'Monounsaturated Fats', 'Polyunsaturated Fats',
       'Carbohydrates', 'Sugars', 'Protein', 'Dietary Fiber', 'Cholesterol',
       'Sodium', 'Water', 'Vitamin A', 'Vitamin B1', 'Vitamin B11',
       'Vitamin B12', 'Vitamin B2', 'Vitamin B3', 'Vitamin B5', 'Vitamin B6',
       'Vitamin C', 'Vitamin D', 'Vitamin E', 'Vitamin K', 'Calcium', 'Copper',
       'Iron', 'Magnesium', 'Manganese', 'Phosphorus', 'Potassium', 'Selenium',
       'Zinc', 'Nutrition Density'],
      dtype='object')

In [43]:
food_data.dtypes

Unnamed: 0.1              int64
Unnamed: 0                int64
food                     object
Caloric Value             int64
Fat                     float64
Saturated Fats          float64
Monounsaturated Fats    float64
Polyunsaturated Fats    float64
Carbohydrates           float64
Sugars                  float64
Protein                 float64
Dietary Fiber           float64
Cholesterol             float64
Sodium                  float64
Water                   float64
Vitamin A               float64
Vitamin B1              float64
Vitamin B11             float64
Vitamin B12             float64
Vitamin B2              float64
Vitamin B3              float64
Vitamin B5              float64
Vitamin B6              float64
Vitamin C               float64
Vitamin D               float64
Vitamin E               float64
Vitamin K               float64
Calcium                 float64
Copper                  float64
Iron                    float64
Magnesium               float64
Manganese               float64
Phosphorus              float64
Potassium               float64
Selenium                float64
Zinc                    float64
Nutrition Density       float64
dtype: object